<div class="panel panel-default">
  <div class="panel-heading clearfix">
      <h3 class="col-xs-6">Contacts</h3>
      <a href="#" class="btn btn-success pull-right my-3">New Contact</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix"
          *ngFor="let contact of contacts">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{ contact.name }}</h4>
            <p class="list-group-item-text">{{ contact.phone }}</p>
          </div>
          <span class="pull-right">
            <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
          </span>
        </a>
        <!-- <cms-contact-item></cms-contact-item> -->
      </div>
    </div>
  </div>
</div>